*{
    margin:0px;
}
nav{
    display:flex;
    height: 20px;
    padding:14px;
    padding-left: 140px;
    border-bottom: 2px solid #d8d8d8;
    align-items: center;
}
#storeTab{
    color:orange;
}
.item1{
    align-items:center;
    display: flex;
    gap: 27px;
}
#logo{
    height: 21px;
}
li{
    list-style-type:none;    
}
a{
    text-decoration:none;
    color:gray;
    font-size:0.950rem;
    font-family: sans-serif;
}
a:hover{
    color:black;
}
#Premiumbtn{
    background-color: rgb(255 236 219);
    color: rgb(234 142 69);
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    position: absolute;
    right: 200px;
}
.item2{
    align-items:center;
    justify-content: center;
}
.columns{
    height: 100%;
    width: 1040px;
    background-color: aquamarine;
    padding-left: 200px;
}
.left{
    float: left;
}
.right{
    margin-top: 20px;
    float: right;
    border-left: 1px solid rgba(210, 210, 210, 0.881);
}
.boxes{
    padding-left: 14px;
    list-style: none;
    display:flex;
    flex-direction:column;
    gap:20px;
    width: 100%;
    height: 100%;
}
.box{
    height:152px;
    width:304px;
    border-radius:10px;
    background-size:304px 152px;
}
#box1{
    background-image:url('https://assets.leetcode.com/users/images/3f99efe8-e802-4ca9-95df-961be36afd6f_1687290708.6801906.jpeg');
    cursor: pointer;
}
#box2{
    background-image:url('https://assets.leetcode.com/users/images/b87362f9-2667-4857-a41b-178dd1be484c_1669795244.530203.png');
    cursor: pointer;
}
#box3{
    background-color:#2f2e2ed4;
    height:132px;
    padding-top:20px;
    display: flex;
    flex-direction:column;
    cursor: default;
}
#box4,#box6,#box5{
    background-color:white;
    border-bottom: 1px solid rgba(210, 210, 210, 0.881);
    cursor: default;
}
.contribute{
    width:90px;
    height:30px;
    border:1px solid white;
    background-color:inherit;
    color:white;
    font-weight:20px;
    border-radius:5px;
    align-self: flex-end;
    margin-right :15px;
    font-size:10px;
}
.join{
    width:100px;
    height:30px;
    border:1px solid;
    font-weight:700;
    border-radius:4px;
    margin-left :15px;
    font-size:13px;
    background-color:white;
}
.join:hover{
    background-color:#c6c7c9;    
}
.sideimg{
    height: 100px;
    background-size: 100px 50px;
    margin-left: 20px;
    margin-top: 5px;
}